@import 'common'

html, body
  background-color: darken($tan, 20%)
  color: $text

.landing-hero
  > .container
    max-width: 960px
    margin: 0 auto
    padding-top: 128px
    padding-bottom: 128px

.landing-hero > .container
  > .tagline
    +heading-type
    font-size: 3em
    color: white
    line-height: 1.2
