@mixin textarea-placeholder
  color: $copper
  font-weight: normal
  opacity: .2
  font-family: serif
  font-style: italic

@mixin textarea-placeholder-focus
  opacity: .1

@mixin textarea-selection
  background: rgba($decopper, .3)
  color: $black

@mixin textarea-style
  border: 0
  height: 40px
  background: transparent
  color: $decopper
  border-bottom: solid 1px mix($decopper, $black, 20%)
  background-color: rgba(darken($black, 50%), .3)
  padding: 12px 16px
  padding-left: 0
  // transition: background-color 50ms linear
  border-bottom: 0

  font-size: ms(1)
  font-weight: bold
  padding-left: 16px

  border-bottom: solid 1px $decopper
  background: transparent
  padding-left: 0

  &:hover
    border-bottom-color: lighten($decopper, 20%)

  &:focus
    // border-bottom-color: $decopper
    border-radius: 2px
    color: $black
    background-color: desaturate(rgba($decopper, .1), 50%)
    background-color: white
    box-shadow: none
    border-bottom-color: transparent
    // transition: background-color 50ms ease
    outline: 0
    padding-left: 12px

  &::-ms-input-placeholder
    +textarea-placeholder
  &::-moz-placeholder
    +textarea-placeholder
  &::-webkit-input-placeholder
    +textarea-placeholder
  &::placeholder
    +textarea-placeholder

  &:focus
    &::-ms-input-placeholder
      +textarea-placeholder-focus
    &::-moz-placeholder
      +textarea-placeholder-focus
    &::-webkit-input-placeholder
      +textarea-placeholder-focus
    &::placeholder
      +textarea-placeholder-focus

  &::-moz-selection
    +textarea-selection
  &::selection
    +textarea-selection
