---
---
@import 'normalize'

$text: #456
$black: #111
$copper: #BF6D33
$tan: #292424

@mixin body-type
  font-family: adelle-sans, sans-serif
  font-weight: 400

@mixin subheading-type
  font-family: brandon-grotesque, sans-serif
  font-weight: 300

*
  box-sizing: border-box

html
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  line-height: 1.75
  +body-type
  color: $text

html, body
  min-height: 100%
  margin: 0
  padding: 0

html
  background: $tan

.duo-layout
  display: flex
  position: relative

  > .image-pane,
  > .content-pane
    flex: 0 0 50%
    width: 50%
    min-height: 100%

  &:after
    content: ''
    top: 32px
    left: 32px
    bottom: 32px
    right: 32px
    position: absolute
    border: solid 2px $copper

.content-pane
  background: white
  padding: 64px 48px 128px 16px

.image-pane
  background: $tan

.container
  overflow: hidden
  max-width: 500px
  margin: 0 auto

h1
  +subheading-type
  font-size: 3em
  color: $copper

h3
  margin-top: 3em
  color: $black
