extends base.jade
include ../includes/social-list.jade

block head
  title= title
  meta(content='website', property='og:type')
  meta(content=(title), property='og:title')
  meta(content=(title), name='description')
  meta(content=(description), property='og:description')
  meta(content=(description), name='description')
  each image in og_images
    meta(content=(image), property='og:image')
    meta(content=(image), name='twitter:image')
    meta(property='og:image:width', content='940')
    meta(property='og:image:height', content='492')

block body
  .duo-layout
    .duo-ornament
    .duo-images
      block images
      block images
      block images

    .duo-aside
      +social-list({ url: '/tlc', title, description })
      .sidecontainer
        block prelude

    .duo-content
      a.watermark.brand-logo.-black(href='/')
      .sidecontainer
        block content

    .duo-content.-full
      block intermission

    .duo-content
      .sidecontainer
        block after


  -// unorphan@1.2.1
  script(src='https://brcdn.org/h7Ny1jA2SLbtHlIWXf2OQNjwFbk.js')
  -// onmount@1.1.0
  script(src='https://brcdn.org/g2yw2PlSsIHvageAGeFZc9QVppM.js')
  script(src='/assets/script.js')
  script.
    if (window.location.hostname.indexOf('bcds.design') === window.location.hostname.length - 15) {
    (function(b,c,d,s,x,y,z){b['GoogleAnalyticsObject']=x;b[x]=b[x]||function(){ (b[x].q=b[x].q||[]).push(arguments)},b[x].l=1*new Date();y=c.createElement(d), z=c.getElementsByTagName(d)[0];y.async=1;y.src=s;z.parentNode.insertBefore(y,z) })(window,document,'script','//www.google-analytics.com/analytics.js','ga')
    ga('create','UA-71920014-1','auto');ga('send','pageview')}
