.menu-block
  input#menu(type='checkbox')
  .menu-bar
  label.menu-toggle(for='menu')
    div
  label.menu-screen(for='menu')
  .menu-dropdown
    .follow-us
      | Follow us:
      a(href='https://instagram.com/wearebcds')
        span @wearebcds
      | More to come soon!
      br
      | For inquiries:
      a.-small(href='mailto:workshops@bcds.design')
        span workshops@bcds.design
