form#register-form._hide(action='https://docs.google.com/forms/d/1eWR3AyJ-7Mb8nK5vjkyr_bitMK27pBbZnVzrdqSz1zE/formResponse?embedded=true', method='POST', target='_self')
  ol.ss-question-list(role='list', style='padding-left: 0')
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-item-required.ss-text(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_404801151')
            .ss-q-title
              | Name
              label(for='itemView.getDomIdToLabel()', aria-label='(Required field)')
              span.ss-required-asterisk(aria-hidden='true') *
            .ss-q-help.ss-secondary-text(dir='auto') Last name, First name
          input#entry_404801151.ss-q-short(name='entry.404801151', value='', dir='auto', aria-label='Name LAST NAME, FIRST NAME ', aria-required='true', required='', title='', type='text')
          #47641860_errorMessage.error-message
          .required-message This is a required question
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-item-required.ss-text(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_963868519')
            .ss-q-title
              | Mobile Number
              label(for='itemView.getDomIdToLabel()', aria-label='(Required field)')
              span.ss-required-asterisk(aria-hidden='true') *
            .ss-q-help.ss-secondary-text(dir='auto') Kindly double check your details.
          input#entry_963868519.ss-q-short(name='entry.963868519', value='', dir='auto', aria-label='Mobile Number Kindly double check your details. ', aria-required='true', required='', title='', type='text')
          #2025713591_errorMessage.error-message
          .required-message This is a required question
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-item-required.ss-text(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_1433857633')
            .ss-q-title
              | Email Address
              label(for='itemView.getDomIdToLabel()', aria-label='(Required field)')
              span.ss-required-asterisk(aria-hidden='true') *
            .ss-q-help.ss-secondary-text(dir='auto') Kindly double check your details.
          input#entry_1433857633.ss-q-short(name='entry.1433857633', value='', dir='auto', aria-label='Email Address   Kindly double check your details. ', aria-required='true', required='', title='', type='text')
          #130266573_errorMessage.error-message
          .required-message This is a required question
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-text(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_1959526584')
            .ss-q-title
              | Alternate Email Address
            .ss-q-help.ss-secondary-text(dir='auto') We&apos;ll use this email in case your primary email can&apos;t be contacted.
          input#entry_1959526584.ss-q-short(name='entry.1959526584', value='', dir='auto', aria-label="Alternate Email Address  We'll use this email in case your primary email can't be contacted. ", title='', type='text')
          #1304820026_errorMessage.error-message
          .required-message This is a required question
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-paragraph-text(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_699257160')
            .ss-q-title
              | Typography, Lettering and Calligraphy Proficiency
            .ss-q-help.ss-secondary-text(dir='auto')
              | Please give us a short description about your experience in typography, lettering, and/or calligraphy. e.g. left-handed, advanced proficiency in brush lettering.
          textarea#entry_699257160.ss-q-long(placeholder="I've had an interest in writing since...", name='entry.699257160', rows='8', cols='0', dir='auto', aria-label='Typography, Lettering and Calligraphy Proficiency Please give us a short description about your experience in typography, lettering, and/or calligraphy. e.g. left-handed, advanced proficiency in brush lettering. ')
          #1550703538_errorMessage.error-message
          .required-message This is a required question
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-item-required.ss-radio(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_1671161667')
            .ss-q-title
              | Have you attended any typography, lettering and/or calligraphy related workshops before?
              label(for='itemView.getDomIdToLabel()', aria-label='(Required field)')
              span.ss-required-asterisk(aria-hidden='true') *
            .ss-q-help.ss-secondary-text(dir='auto')
          ul.ss-choices(role='radiogroup', aria-label='Have you attended any typography, lettering and/or calligraphy related workshops before?  ')
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_1666934103_1.ss-q-radio(name='entry.1666934103', value='Yes', role='radio', aria-label='Yes', required='', aria-required='true', type='radio')
                span.ss-choice-label Yes
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_1666934103_2.ss-q-radio(name='entry.1666934103', value='No', role='radio', aria-label='No', required='', aria-required='true', type='radio')
                span.ss-choice-label No
          #1671161667_errorMessage.error-message
          .required-message This is a required question
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-paragraph-text(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_1630593199')
            .ss-q-title
              | If Yes, what are the workshops that you have attended?
            .ss-q-help.ss-secondary-text(dir='auto') If there&apos;s none, please input NA
          textarea#entry_1630593199.ss-q-long(name='entry.1630593199', rows='8', cols='0', dir='auto', aria-label="If Yes, what are the workshops that you have attended? If there's none, please input NA ")
          #264167349_errorMessage.error-message
          .required-message This is a required question
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-item-required.ss-checkbox(dir='auto')
        .ss-form-entry
          label.ss-q-item-label(for='entry_777105160')
            .ss-q-title
              | How did you learn about the workshop?
              label(for='itemView.getDomIdToLabel()', aria-label='(Required field)')
              span.ss-required-asterisk(aria-hidden='true') *
            .ss-q-help.ss-secondary-text(dir='auto')
          ul.ss-choices.ss-choices-required(role='group', aria-label='How did you learn about the workshop?  ')
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_1199294931_1.ss-q-checkbox(name='entry.1199294931', value='BCDS IG Account', role='checkbox', aria-required='true', type='checkbox')
                span.ss-choice-label BCDS IG Account
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_1199294931_2.ss-q-checkbox(name='entry.1199294931', value='BCDS FB Account', role='checkbox', aria-required='true', type='checkbox')
                span.ss-choice-label BCDS FB Account
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_1199294931_3.ss-q-checkbox(name='entry.1199294931', value="Instructor's IG/FB", role='checkbox', aria-required='true', type='checkbox')
                span.ss-choice-label Instructor&apos;s IG/FB
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_1199294931_4.ss-q-checkbox(name='entry.1199294931', value='Referral / Invite by a friend/colleague', role='checkbox', aria-required='true', type='checkbox')
                span.ss-choice-label Referral / Invite by a friend/colleague
            li.ss-choice-item
              label
                span.ss-choice-item-control.goog-inline-block
                  input#group_1199294931_5.ss-q-checkbox.ss-q-other-toggle(name='entry.1199294931', value='__other_option__', role='checkbox', aria-required='true', type='checkbox')
                span.ss-choice-label Other:
              span.ss-q-other-container.goog-inline-block
                input#entry_1199294931_other_option_response.ss-q-other(name='entry.1199294931.other_option_response', value='', dir='auto', aria-label='Other', type='text')
          #777105160_errorMessage.error-message
          .required-message This is a required question
    input(name='draftResponse', value='[,,"4693773078926380377"]\
    ', type='hidden')
    input(name='pageHistory', value='0', type='hidden')
    input(name='fvv', value='0', type='hidden')
    input(name='fbzx', value='4693773078926380377', type='hidden')
    .ss-item.ss-navigate
      table#navigation-table
        tbody
          tr
            td#navigation-buttons.ss-form-entry.goog-inline-block(dir='ltr')
              input#ss-submit.jfk-button.jfk-button-action(name='submit', value='Submit', type='submit')
              .ss-password-warning.ss-secondary-text Never submit passwords through Google Forms.
