.menu-block
  > [type='checkbox']
    display: none

.menu-dropdown
  display: block
  position: fixed
  left: 0
  top: 0
  bottom: 0
  max-width: 300px
  background: $lighttan
  z-index: 20
  transition: transform 300ms ease-out
  transform: translate3d(-300px, 0, 0)
  color: white

  text-align: center
  padding: 200px 32px

.menu-screen
  background: black
  opacity: 0
  transition: opacity 300ms linear
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 20
  pointer-events: none

.menu-toggle
  position: fixed
  top: 32px + 16px
  left: 18px
  z-index: 25
  cursor: pointer
  width: 32px
  height: 32px
  transform: translate3d(0, 0, 0)
  transition: transform 300ms ease-out

  > div
    +burger($color: $lighttan, $width: 24px, $height: 2px, $gutter: 6px)

input:checked + .menu-toggle
  transform: translate3d(6px, 0, 0)

input:checked + .menu-toggle > div
  +burger-to-cross($color: white)

input:checked ~ .menu-dropdown
  transform: translate3d(0, 0, 0)

input:checked ~ .menu-screen
  opacity: .7
  pointer-events: auto
