.panorama-section
  $image: 'https://unsplash.it/1400/900/?image=914'
  background: -webkit-linear-gradient(180deg - 15deg, rgba($black, 1), rgba($black, .98) 50%, rgba($black, .7)), url($image) center center / cover
  background:         linear-gradient(180deg - 15deg, rgba($black, 1), rgba($black, .98) 50%, rgba($black, .7)), url($image) center center / cover
  background-color: $black
  background-attachment: fixed
  position: relative
  padding-top: 32px
  padding-bottom: 32px

  > .container > iframe
    margin: 0 auto
