.register-heading
  @media (min-width: 769px)
    margin-bottom: 3em

  > h2,
  > p
    margin: 0
    padding: 0

  > h2
    +heading-type
    margin: 0
    padding: 0
    color: white
    font-size: ms(5)
    line-height: 1.1

  > p
    font-size: ms(0)

  > .lead
    +caps-type
    color: $copper
    font-size: ms(-1)
    margin-top: .8em
    margin-bottom: 1.1em

  > button
    margin-top: 2em

.register-info
  @media (min-width: 769px)
    margin-top: 3em
