{% include head.html %}

<title>{{ page.title }}</title>

{% include body.html %}

{% include menu-block.html %}

<div class='duo-layout'>
  <div class='duo-ornament'></div>
  <div class='duo-images'>
    {{ page.images }}
    {{ page.images }}
  </div>
  <div class='duo-aside'>
    <div class='sidecontainer'>
      {{ page.prelude }}
    </div>
  </div>
  <div class='duo-content'>
    <a class='watermark brand-logo -black' href='/'></a>
    <div class='sidecontainer'>
      {{ page.content }}
      {% if page.content_markdown %}
      {{ page.content_markdown | markdownify }}
      {% endif %}
    </div>
  </div>
  <div class='duo-content -full'>
    {{ page.intermission }}
    {% if page.intermission_markdown %}
    {{ page.intermission_markdown | markdownify }}
    {% endif %}
  </div>
  <div class='duo-content'>
    <div class='sidecontainer'>
      {{ page.after }}
      {% if page.after_markdown %}
      {{ page.after_markdown | markdownify }}
      {% endif %}
    </div>
  </div>
</div>

{% include end.html %}
