{% include head.html %}

<title>{{ page.title }}</title>

{% include body.html %}

<div class='duo-layout'>
  <div class='duo-ornament'></div>
  <div class='duo-images'>
    {{ page.images }}
    {{ page.images }}
  </div>
  <div class='duo-aside'>
    <div class='sidecontainer'>
      {{ page.prelude_markdown | markdownify }}
    </div>
  </div>
  <div class='duo-content'>
    <div class='sidecontainer'>
      {{ page.content_markdown | markdownify }}
    </div>
  </div>
  <div class='duo-content -full'>
    {{ page.intermission }}
  </div>
  <div class='duo-content'>
    <div class='sidecontainer'>
      {{ page.after_markdown | markdownify }}
    </div>
  </div>
</div>

{% include end.html %}
