extends ../layouts/base.jade

block head
  title BCDS — Better Creative Design Society
  link(rel='stylesheet', href='/assets/landing.css')

block body
  .landing-hero
    .container
      .brand-logo
      .tagline.
        We believe in the power of beautiful letterforms. Our belief is that calligraphy is the art of imbuing a part of your soul into hand-written ink. We're here to pass this passion to the world. We are BCDS.
