---
title: TLC Workshop
description: Typography, Lettering and Calligraphy Workshop — Jan 16 + 23
og_images:
- http://bcds.design/images/tlc/banner-bb.png
- http://bcds.design/images/tlc/preview.png
- http://bcds.design/images/tlc/banner-aa.png
- http://bcds.design/images/tlc/banner-cc.png
---

extends ../layouts/event.jade

-// ------------------------------------------------------------------------------

block images
  img(src='images/workshops/wednesday-2.jpg')
  img(src='images/workshops/typekita-1.jpg')
  img(src='images/workshops/takeitslow.jpg')
  .highlighted-image
    img(src='images/workshops/satinka-1.jpg')
  img(src='images/workshops/b.jpg')
  img(src='images/workshops/typekita-2.jpg')
  img(src='images/workshops/typekita-3.jpg')

  each i in [0, 1]
    img(src='images/workshops/wednesday-2.jpg')
    img(src='images/workshops/typekita-3.jpg')
    img(src='images/workshops/satinka-1.jpg')
    img(src='images/workshops/b.jpg')
    img(src='images/workshops/typekita-2.jpg')

-// ------------------------------------------------------------------------------

block prelude
  .info-card
    h4.title Jan 16 & 23, 2016
    | 1PM - 5PM, Saturdays#[br]
    | Racket Room Collective, QC

-// ------------------------------------------------------------------------------

block content
  h4._copper._top-collapse.
    Better Creative Design Society

  h1.tlc-heading
    b TLC
    span Typography, Lettering &#[br] Calligraphy Workshop

  +register-now-button

  h3._no-desktop
    Jan 16 & 23, 2016

  p._no-desktop
    1PM — 5PM, Saturdays#[br]
    Racket Room Collective, QC

  p.full-image.-cropped._no-desktop
    img(src='images/wednesday.jpg')

  p.brief.
    An intensive two-day bootcamp on the art of hand-crafting beautiful letters—materials included.

  h3.
    What you'll learn

  p.
    The TLC Workshop is a 2-day workshop that aims to give you an in-depth view at letters and what certain styles represent. In this workshop, we will share to you the basic foundations of different letterforms as well as design and layout considerations when doing typography, lettering, and calligraphy pieces. The workshop will focus on hand lettering, brush lettering, Gothic calligraphy, and layout & design along with exercises and projects that will cater to the topics.

  +register-now-button('-lite', '_no-desktop')

  p.full-image.-cropped._no-desktop
    img(src='images/typekita-2.jpg')

  h2.
    Course outline

  blockquote.course-item
    h4.
      Day 1: Hand Lettering 101
    p.
      Master the art of drawing letterforms. In this subject, we will learn the principles of typography and how they can be applied to make dramatic lettering pieces by hand.

  blockquote.course-item
    h4.
      Day 1: Gothic Calligraphy
    p.
      Learn the wonderful art of writing blackletter calligraphy using broad-nibbed pens. We will provide #[a(href='http://pilotpen.us/categories/calligraphy-pens/parallel-pen/') Parallel Pens] as part of the workshop materials.

  blockquote.course-item
    h4.
      Day 2: Brush Lettering
    p.
      You will learn how to maximize the use brushes and brush pens to draw expressive script letters. We will provide Zig Kuretake brush pens, #[a(href='https://kuretakezig.us/pens/brush-pen-22/') bristle tips] and #[a(href='https://kuretakezig.us/pens/bimoji/') felt tips], as part of the materials.

  blockquote.course-item
    h4.
      Day 2: Typography layouts
    p.
      Learn the secrets on building well-composed art pieces.

  +register-now-button('-lite')

  p.full-image.-cropped._no-desktop
    img(src='images/typekita-1.jpg')

  h3.
    Materials included

  p.
    There won't be a need to bring anything but an eagerness to learn. Of course, you're more than welcome to bring your own tools too, if you prefer! We will be providing the following materials, hand-picked by the BCDS team:

  ul
    li Pilot Parallel pen
    li Various brush pens
    li Basic drawing tools (rules, pencils, erasers)
    li Lots of paper

  h3.
    Your mentors

  p.
    The BCDS team is a group of visual artists with a passion for typography. We are:

  ul
    li Jelvin Base (#[a(href='https://instagram.com/jelvin') @jelvin])
    li Carl Chua (#[a(href='https://instagram.com/carligraphy') @carligraphy])
    li John Ed De Vera (#[a(href='https://instagram.com/battery_full') @battery_full])
    li Rico Sta. Cruz (#[a(href='https://instagram.com/rstacruz') @rstacruz])

  +register-now-button('-lite')

  +social-list({ url: '/tlc', title, description })

-// ------------------------------------------------------------------------------

block intermission
  +reservation-block
    .register-heading
      h2 Reserve your seat
      p.lead Only 25 seats available
      p.
        Workshop fee is #[strong P 5,500], which includes #[strong 2 days of training], materials, worksheets, food and other goodies. We accept payments over bank deposit.

      button.cta-button-2(role='register').
        Reserve your seat

    include ../includes/tlc-form.jade

    .register-info._hide
      p.
        Workshop fee is #[strong P 5,500]. After you submit this form, we'll contact you in 48 hours with instructions on bank deposit payment.

      p.
        Also, please take note that workshop fee is NON-REFUNDABLE. However, in the event that one needs to back out/withdraw from the class, the fee may be transferable to another person and can be used on the same workshop date. It is the responsibility of the withdrawing student to look for his/her replacement and to provide the organizer with the substitute student&apos;s information.

-// ------------------------------------------------------------------------------

block after
  h2.
    The venue

  p.
    #[a(href='http://www.racketroomcollective.com') Racket Room Collective] is a coworking space in Quezon City (#[a(href='https://goo.gl/maps/82mduWgtmTP2') view map]). Located along Sgt Esguerra Avenue, it's the perfect place for creative gatherings.

  p.full-image.-cropped._no-desktop
    img(src='images/takeitslow.jpg')

  h3.
    Additional info

  p.
    All signups will be on a first-come, first-served basis. However, completing this registration does not guarantee a seat for you. Upon registration, participants will be emailed payment details. Registrants will have 3 days to complete their payment in order to secure their slot for the session. Non-payment within the provided period will mean forfeiting one's slot. Please note that there will be only a number of slots for the workshop.

  +register-now-button

  h3.
    Inquiries

  p.
    For questions and inquiries, email us at
    #[a(href='mailto:workshops@bcds.design') workshops@bcds.design].

-// ------------------------------------------------------------------------------
-// Helpers

mixin reservation-block
  #register.panorama-section
    .widecontainer._padded-2x
      .md-col-6
        block

mixin register-now-button(buttonClass, klass)
  p.cta-box(class=klass)
    a.cta-button(href='#register' class=buttonClass).
      Register now
